<ion-content [fullscreen]="true">
  <img src="../../assets/5.png" alt="">
  <div class="bottom ion-padding">
    <div class="titre ion-text-center">
      Child-Heath
    </div>
    <div class="txt ion-text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quos eaque a atque debitis, eum maiores perferendis, quas voluptatum nesciunt explicabo amet harum odit, non quo temporibus quasi in excepturi?
    </div>

    <div class="next ion-text-center">
      <ion-button fill="clear" routerLink="/login">Commencer</ion-button>
    </div>
  </div>
</ion-content>
